<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Chess online</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>
<body>
    <div class="auth-container">
        <div class="logo">♞</div>
        <h2>Login</h2>
        <div id="errorMesage" class="error-message"></div>

        <form id="loginForm" action="">
            //campo para el nombre de usuario
            <div class="form-group">
                <label for="username">UserName</label>
                <input type="text" id="username" name="username" required>
            </div>
            //campo para la contrasena
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            //botón para el envio de formulario
            <button type="submit">Login</button>
        </form>

        <div class="register-link">
            Dont't have an account?<a href="register">Register here</a>
        </div>
    </div>
    <script>
        //función para enviar el formulario
        document.getElementById('loginForm').addEventListener('submit', async(e) => {
            e.preventDefault();
            const errorMesage = document.getElementById('errorMessage');

            try {
                //se envía el formulario a la ruta /login
                const response = await fetch('/auth/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        username: document.getElementById('username').value,
                        password: document.getElementById('password').value
                    })
                });

                const data = await response.json();

                if (data.success) {
                    window.location.href = '/';
                } else {
                    errorMesage.textContent = data.message;
                    errorMesage.style.display = 'block';
                }
            } catch (err) {
                errorMesage.textContent = 'Error logging in. Please try again ';
                errorMesage.style.display = 'block';
            }
        })
    </script>

    
</body>
</html>